*.rbc
capybara-*.html
.rspec
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]*
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb
config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv, dotenv-rails
# TODO Comment out these rules if environment variables can be committed
.env
.env*.local

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

# Ignore node_modules
node_modules/

# Ignore precompiled javascript packs
/public/packs
/public/packs-test
/public/assets

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore uploaded files in development
/storage/*
!/storage/.keep
/public/uploads

# MANUALLY ADDED =================================
.env


# RAILS IGNORE =================================

# 環境変数（APIキーやデータベースの設定）
backend/.env
backend/config/credentials.yml.enc
backend/config/master.key

# Google Drive API 認証ファイル
backend/config/google_credentials.json

# MySQL のデータベースファイル
backend/db/*.mysql
backend/db/*.mysql-journal

# Docker関連
backend/docker-compose.override.yml
backend/.docker
backend/tmp/*
backend/log/*
backend/vendor/bundle

# rails def
backend/log/*
!backend/log/.keep
backend/tmp/*
!backend/tmp/.keep
backend/public/system
backend/public/uploads
backend/storage/*
!backend/storage/.keep
backend/db/*.sqlite3
backend/db/*.sqlite3-journal
backend/vendor/bundle
backend/node_modules
backend/yarn-error.log
backend.byebug_history

# NODEJS IGNORE =================================

frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env.local
frontend/yarn.lock
frontend/package-lock.json
frontend/coverage/
frontend/.eslintcache
frontend/logs/
# Frontend directory
frontend/
