* -text

*.rb binary
*.sh binary
*.yml binary
*.json binary
*.md binary
*.js binary
*.css binary
*.erb binary
Dockerfile binary
.dockerignore binary
.gitignore binary
.gitattributes binary

bin/* binary